* {
    font-family: "Clutch Sans";
}

body, ul, li {
    margin: 0;
    padding: 0;
}

p, li, h1, h2, h3, h4 {
    color: #404040;
}

.wrapper {
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

header {
    padding: 30px 0;
}

header h1 {
    margin: 0;
    text-indent: -10000px;
    background: url(../images/logo.png);
    width: 138px;
    height: 55px;
    float: left;
}

header nav {
    float: right;
}

header::after {
    display: block;
    content: "";
    clear: both;
}

header nav h2 {
    line-height: 0;
    margin: 0;
    text-indent: -10000px;
}

header nav li {
    float: left;
    list-style-type: none;
    margin-left: 30px;
    margin-top: 15px;
}

header nav li:last-child {
    margin-top: 7px;
}

header nav li a {
    text-decoration: none;
    font-weight: bold;
    color: #404040;
}

#main-banner {
    background: #f0f4f5;
    padding: 40px 0;
}

#main-banner h1 {
    margin: 0;
    padding-bottom: 10px;
}

#main-banner p {
    margin: 0;
    font-size: 15px;
}

#latest-work {
    padding-top: 50px;
}

#latest-work-title {
    padding: 10px 0 20px;
}

#latest-work h3 {
    margin: 0;
    float: left;
}

.title-flourish {
    color: red;
}

.button {
    float: right;
    background-color: #ef5f5f;
    border: none;
    color: white;
    padding: 5px;
    margin-top: -4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

#latest-work-title::after {
    display: block;
    content: "";
    clear: both;
}

#latest-work-images {
    width: 100%;
    padding-bottom: 30px;
}

#latest-work-images img {
    float: left;
    width: 32%;
}

#latest-work-images img:nth-child(2),
#latest-work-images img:nth-child(5),
#latest-work-images img:nth-child(8) {
    padding: 0 2%;
}

#latest-work-images img:nth-child(4),
#latest-work-images img:nth-child(5),
#latest-work-images img:nth-child(6) {
    padding-top: 15px;
    padding-bottom: 15px;
}

#latest-work-images::after {
    display: block;
    content: "";
    clear: both;
}

#jobs {
    text-align: center;
    padding-bottom: 30px;
}

#jobs button {
    float: none;

}

#selling-points {
    padding-bottom: 20px;
}

#selling-points h3 {
    margin-bottom: 10px;
}

#selling-points p {
    margin-top: 0;
}

#selling-points li {
    width: 23%;
    padding: 1%;
    text-align: center;
    float: left;
    list-style-type: none;
}

#selling-points li p {
    width: 80%;
    padding: 0 10%;
}

#selling-points::after {
    display: block;
    content: "";
    clear: both;
}

#articles {
    padding-bottom: 70px;
}

#articles h3 {
    margin-bottom: 10px;
}

#articles p {
    margin-top: 0;
}

#articles li {
    float: left;
    width: 48%;
    padding-bottom: 15px;
    list-style-type: none;
}

#articles img {
    float: left;
    padding-right: 2%;
}

#articles::after {
    display: block;
    content: "";
    clear: both;
}

footer {
    background: #2d2d2f;
    color: #fff;
    text-align: center;
}

#copyright {
    padding-top: 40px;
    padding-bottom: 15px;
}

#social-media {
    padding-bottom: 50px;
}

#social-media a {
    padding-right: 10px;
}

#social-media a:last-child {
    padding-right: 0;
}

/* MEDIA QUERIES */

@media screen and (max-width: 960px) {
    #articles li {
        width: 96%;
    }
}

@media screen and (max-width: 768px) {
    #selling-points li {
        width: 48%;
    }

    header nav {
        float: none;
    }

    header nav li {
        margin-left: 0;
        width: 16.66%;
        text-align: center;
        font-size: 14px;
    }

    header h1.logo {
        float: none;
        margin: 0 auto 15px;
    }
}

@media screen and (max-width: 480px) {
    header nav li {
        float: none;
        width: 100%;
        margin: 0;
    }

    header .wrapper {
        padding: 0;
        width: 100%;
    }

    header {
        padding-bottom: 0;
    }

    header nav li a {
        display: block;
        text-align: center;
        padding: 10px;
        border-top: 1px solid #f0f4f5;
    }

    #burger-nav {
        width: 100%;
        height: 40px;
        background: url('../images/burger.png') no-repeat 98% center;
        cursor: pointer;
    }

    header nav ul {
        height: 0;
        overflow: hidden;
    }

    header nav ul.open {
        height: auto;
    }

    #main-banner h1, #main-banner p {
        text-align: center;
    }

    #latest-work img {
        width: 48%;
        padding-top: 0 !important;
        padding-bottom: 15px !important;
    }

    #latest-work img:nth-child(odd) {
        padding-left: 0 !important;
        padding-right: 2% !important;
    }

    #latest-work img:nth-child(even) {
        padding-left: 2% !important;
        padding-right: 0 !important;
    }

    #articles p {
        font-size: 14px;
    }
}
