* {
    font-family: "Clutch Sans";
}

body, ul, li {
    margin: 0;
    padding: 0;
}

p, li, h1, h2, h3, h4 {
    color: #404040;
}

.wrapper {
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

header {
    padding: 30px 0;
}

header h1 {
    margin: 0;
    text-indent: -10000px;
    background: url(../images/logo.png);
    width: 138px;
    height: 55px;
    float: left;
}

header nav {
    float: right;
    height: 55px;
}

header::after {
    display: block;
    content: "";
    clear: both;
}

header nav h2 {
    line-height: 0;
    margin: 0;
    text-indent: -10000px;
}

header nav li {
    float: left;
    list-style-type: none;
    margin-left: 30px;
    margin-top: 15px;
}

header nav li:last-child {
    margin-top: 7px;
}

header nav li a {
    text-decoration: none;
    font-weight: bold;
    color: #404040;
}

#main-banner {
    background: #f0f4f5;
    padding: 40px 0;
}

#main-banner h1 {
    margin: 0;
    padding-bottom: 10px;
}

#main-banner p {
    margin: 0;
    font-size: 15px;
}

#latest-work {
    padding-top: 50px;
}

#latest-work-title {
    padding-bottom: 20px;
}

#latest-work h3 {
    margin: 0;
    float: left;
}

.title-flourish {
    color: red;
}

.button {
    float: right;
    background-color: #ef5f5f;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

#latest-work-title::after {
    display: block;
    content: "";
    clear: both;
}

#latest-work img {
    float: left;
}
